    <div class="b-hero" style="background-color:#031523">
        <figure style="background-image:url(&quot;https://images.pexels.com/photos/2194062/pexels-photo-2194062.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940s&quot;)" class="b-post__hero-image">
          <div data-w-id="403de785-9462-5110-ab3f-b13328bf2c04" class="b-post__hero-inner">
            <div class="b-container cc-read cc-hero">
              <div class="b-read__wrap cc-hero">
                <h1 class="b-post__title">A Computer Science Portal</h1>
                <p class="b-post__subhead">A Place where you will find a solution to all your queries.</p>
              </div>
              </div>
              </div>
        </figure>
    </div>    

    <body>
<div class="container">
    <div class="jumbotron">
      <h1>GATE 2020</h1>      
      <p>GATE 2020 will be organized by Indian Institute of Technology (IIT) Delhi in online mode tentatively on February 1, 2, 8 and 9. GATE 2020 will be conducted in 24 papers including statistics which was introduced in 2019. The entrance exam is a computer based one held in two sessions per day. </p>
    </div>
    <div class="boxesLayout">
        <div class="box">
        <div>
        <div class="vMiddle">
        <div class="headingFirst">Exam Level</div>
        <div class="headingSecound">National Level Exam</div>
        </div>
        </div>
        </div>
        <div class="box">
        <div>
        <div class="vMiddle">
        <div class="headingFirst">Frequency</div>
        <div class="headingSecound">
        Once a year
        </div>
        </div>
        </div>
        </div>
        <div class="box">
        <div><div class="vMiddle">
        <div class="headingFirst">Duration</div>
        <div class="headingSecound">3 Hours </div>
        </div></div>
        </div>
        </div>    
  </div>
  <hr><hr>
</body>  